<h1>{{::vm.title}}</h1>


<md-list-item class="md-1-line"
    ng-repeat="post in vm.posts track by post.id"> <md-content
    class="md-padding" layout-xs="column" layout="row" flex>
<div flex layout="column">
<a class="notLink" href="{{vm.toPost(post.id)}}">
    <md-card flex class="blog-card">
    <div class="blog-card-image">
        <img ng-src="{{post.image}}" class="md-card-image">
    </div>
    <md-card-title> <md-card-title-text>
    <span class="md-headline">{{post.title}}</span> </md-card-title-text> </md-card-title> <md-card-content>
    {{post.description}} </md-card-content> </md-card></a>
</div>
</md-content> </md-list-item>
