<h1>Post creation</h1>

<form novalidate name="vm.postForm" ng-submit="vm.submit(vm.post)">
    <md-input-container> <label>Title</label> <input
        type="text" md-maxlength="30" name="title"
        ng-model="vm.post.title" required> <ng-messages
        for="vm.postForm.title.$error"
        ng-show="vm.postForm.$submitted || vm.postForm.title.$touched">
    <ng-message when="required"> Title is required </ng-message> <ng-message
        when="md-maxlength"> Title max length is 30 </ng-message> </ng-messages> </md-input-container>
    <md-input-container> <label>Body</label> <textarea
        rows="10" name="body" ng-model="vm.post.body" required
        md-maxlength="255" minlength="20"></textarea> <ng-messages
        for="vm.postForm.body.$error"
        ng-show="vm.postForm.$submitted || vm.postForm.title.$touched">
    <ng-message when="required"> Body is required </ng-message> <ng-message
        when="md-maxlength"> Body max length is 255 </ng-message> <ng-message
        when="minlength"> Body min length is 20 </ng-message> </ng-messages> </md-input-container>
    <md-button type="submit">SUBMIT</md-button>
</form>
