
<div layout="column" flex layout-fill
    style="height: calc(100vh - 58px); display: block;">
    <article layout="column" layout-align="center center">
        <br /> <img class="blog-title-image"
            src="/assets/images/nekogaminotabi.png" />

        <h1 class="blog-title">B&ecirc;ta-lecteurs</h1>
        <i>Ou "Comment qu'ils font les gens pour aider ?"</i>
        
    </article>

    <div flex layout-fill class="blog-content">
        <p>
            Cher ami, si tu es sur cette page - je te tutoie si je veux
            -, c'est pour une de ces trois raisons :<br /> - Tu as vu
            une de mes campagnes de recrutement pour &ecirc;tre
            b&ecirc;ta-lecteur et cela t'int&eacute;resse !<br /> - Tu
            es d&eacute;j&agrave; un b&ecirc;ta-lecteur et tu souhaites
            avoir des informations sur ton r&ocirc;le ;<br /> - Tu es
            tomb&eacute; ici par hasard ou tu as cliqu&eacute; sur le
            lien menu qui a chatoy&eacute; &agrave; travers tes yeux.<br />
            <br /> Quelle que soit la raison, soit le bienvenu, tu peux
            jouer un r&ocirc;le essentiel dans ma recherche de la
            perfection ! Enfin, dans ma recherche du mieux on va dire,
            soyons modeste.<br /> <br /> Je suis quelqu'un qui aime
            bien se perfectionner et qui est encore loin d'&ecirc;tre le
            meilleur &eacute;crivain, alors j'ai besoin de toi, ami qui
            souhaite me soutenir dans ma lourde t&acirc;che. Ton
            r&ocirc;le sera de lire avant les autres les chapitres de
            Nekogami no tabi et de donner ton avis, argument&eacute; si
            possible, surtout s'il est n&eacute;gatif.<br /> <br />
            Voici ce que j'attends de toi :<br /> - Tu te manifestes
            d&egrave;s lors que je te fournis un chapitre, pour me dire
            si oui ou non tu pourras le lire dans un d&eacute;lai
            raisonnable ;<br /> - Tu lis avec assiduit&eacute; et un
            regard critique ce que je t'envoie. Mais avec un
            soup&ccedil;on de bienveillance tout de m&ecirc;me, je ne
            m'attends pas &agrave; &ecirc;tre publi&eacute; ;<br /> -
            Tu me dis ce que tu penses de ce que j'ai &eacute;crit. Si
            c'est bien, si ce n'est pas bien et, au minimum, ce qui ne
            va pas quand ce n'est pas bien ;<br /> - Tu ne divulgues
            pas les chapitres &agrave; autrui. <br /> <br /> Et moi,
            en retour, je te donne ma consid&eacute;ration
            &eacute;ternelle pour ce travail &ocirc; combien fastidieux.<br />
            <br /> Voil&agrave;, &ccedil;a s'arr&ecirc;te l&agrave;. Tu
            dois donc juste aimer lire et &ecirc;tre motiv&eacute; !<br />
            <br />
        </p>
        <h1>Et l'orthographe &amp; co ?</h1>

        <p>
            Les chapitres envoy&eacute;s en b&ecirc;ta-lecture ne sont
            pas totalement termin&eacute;s. Y manque de la peinture
            comme dirait l'autre. Donc les fautes d'orthographe,
            grammaire, conjugaison et tout ce que tu veux doivent
            &ecirc;tre l&eacute;gion.<br /> Donc que les
            b&ecirc;ta-lecteurs pointent du doigt les fautes pour que je
            les corrige part d'une bonne intention, mais ce n'est pas
            non plus ce que je recherche. Je ne t'emp&ecirc;cherai pas
            de le faire, mais sache que j'y pr&ecirc;terai l'attention
            que je voudrai.
        </p>
    </div>
</div>