<div layout-fill flex style="height: calc(100vh - 56px)"
    ng-style="{'visibility': vm.ready?'visible':'hidden'}"
    ng-show="vm.ready">
    <sound-manager></sound-manager>
    <div class="sm2-bar-ui textured full-width">

        <div class="bd sm2-main-controls">

            <div class="sm2-inline-texture"></div>
            <div class="sm2-inline-gradient"></div>

            <div class="sm2-inline-element sm2-button-element"
                ng-style="{'visibility': isPlaying?'visible':'hidden'}"
                ng-show="isPlaying">
                <div class="sm2-button-bd">
                    <a pause-music class="sm2-inline-button pause"></a>
                </div>
            </div>

            <div class="sm2-inline-element sm2-button-element"
                ng-style="{'visibility': isPlaying?'hidden':'visible'}"
                ng-hide="isPlaying">
                <div class="sm2-button-bd">
                    <a play-music class="sm2-inline-button play-pause"
                        id="playButton"></a>
                </div>
            </div>

            <div class="sm2-inline-element sm2-inline-status">

                <div class="sm2-playlist">
                    <div class="sm2-playlist-target">
                        <!-- playlist <ul> + <li> markup will be injected here -->
                        <!-- if you want default / non-JS content, you can put that here. -->
                        <noscript>
                            <p>JavaScript is required.</p>
                        </noscript>
                        <marquee>{{ currentPlaying.title }} -
                            {{ currentPlaying.artist }} [{{
                            currentPlaying.album }}]</marquee>
                    </div>
                </div>

                <div class="sm2-progress">
                    <div class="sm2-row">
                        <div class="sm2-inline-time">{{
                            currentPostion }}</div>
                        <div class="sm2-progress-bd">
                            <div class="sm2-progress-track">
                                <div class="sm2-progress-bar"></div>
                                <div class="sm2-progress-ball"
                                    ng-style="{left : ( progress + '%' ) }">
                                    <div class="icon-overlay"></div>
                                </div>
                            </div>
                        </div>
                        <div class="sm2-inline-duration">{{
                            currentDuration }}</div>
                    </div>
                </div>

            </div>

            <div
                class="sm2-inline-element sm2-button-element sm2-volume">
                <div class="sm2-button-bd">
                    <span
                        class="sm2-inline-button sm2-volume-control volume-shade"></span>
                    <a href="#volume"
                        class="sm2-inline-button sm2-volume-control">volume</a>
                </div>
            </div>

        </div>

        <div class="bd sm2-playlist-drawer sm2-element">

            <div class="sm2-inline-texture">
                <div class="sm2-box-shadow"></div>
            </div>

            <!-- playlist content is mirrored here -->

            <div class="sm2-playlist-wrapper">

                <ul class="sm2-playlist-bd">

                    <!-- example: playable link, "buy" link, "download" link -->
                    <li>
                        <div class="sm2-row">
                            <div class="sm2-col sm2-wide">{{
                                currentPlaying.title }} by {{
                                currentPlaying.artist }}</div>
                        </div>
                    </li>

                    <!-- example: playable link, "download" link -->
                    <li>
                        <div class="sm2-row">
                            <div class="sm2-col sm2-wide">
                                <a
                                    href="http://freshly-ground.com/data/audio/sm2/SonReal%20-%20Let%20Me%20%28Prod%202oolman%29.mp3"><b>SonReal</b>
                                    - Let Me <span class="label">Explicit</span></a>
                            </div>
                            <div class="sm2-col">
                                <a
                                    href="http://freshly-ground.com/data/audio/sm2/SonReal%20-%20Let%20Me%20%28Prod%202oolman%29.mp3"
                                    target="_blank"
                                    title="Download &quot;Let Me&quot;"
                                    class="sm2-icon sm2-music sm2-exclude">Download
                                    this track</a>
                            </div>
                        </div>
                    </li>

                    <!-- standard one-line items, no extra links -->
                    <li><a
                        href="http://freshly-ground.com/data/audio/sm2/SonReal%20-%20LA%20%28Prod%20Chin%20Injetti%29.mp3"><b>SonReal</b>
                            - LA (Prod. Chin Injetti)<span class="label">Explicit</span></a></li>
                    <li><a
                        href="http://freshly-ground.com/data/audio/sm2/SonReal%20-%20People%20Asking.mp3"><b>SonReal</b>
                            - People Asking <span class="label">Explicit</span></a></li>
                    <li><a
                        href="http://freshly-ground.com/data/audio/sm2/SonReal%20-%20Already%20There%20Remix%20ft.%20Rich%20Kidd,%20Saukrates.mp3"><b>SonReal</b>
                            - Already There Remix ft. Rich Kidd,
                            Saukrates <span class="label">Explicit</span></a></li>
                    <li><a
                        href="http://freshly-ground.com/data/audio/sm2/The%20Fugitives%20-%20Graffiti%20Sex.mp3"><b>The
                                Fugitives</b> - Graffiti Sex</a></li>
                    <li><a
                        href="http://freshly-ground.com/data/audio/sm2/Adrian%20Glynn%20-%20Seven%20Or%20Eight%20Days.mp3"><b>Adrian
                                Glynn</b> - Seven Or Eight Days</a></li>
                    <li><a
                        href="http://freshly-ground.com/data/audio/sm2/SonReal%20-%20I%20Tried.mp3"><b>SonReal</b>
                            - I Tried</a></li>
                    <li><a
                        href="http://freshly-ground.com/data/audio/sm2/gong-192kbps.mp3">32"
                            Gong Sounds (rubber + standard mallets)</a></li>
                    <li><a
                        href="http://freshly-ground.com/data/audio/mpc/20060826%20-%20Armstrong.mp3">Armstrong
                            Beat</a></li>
                    <li><a
                        href="http://freshly-ground.com/data/audio/mpc/20090119%20-%20Untitled%20Groove.mp3">Untitled
                            Groove</a></li>
                    <li><a
                        href="http://freshly-ground.com/data/audio/sm2/birds-in-kauai-128kbps-aac-lc.mp4">Birds
                            In Kaua'i (AAC)</a></li>
                    <li><a
                        href="http://freshly-ground.com/data/audio/sm2/20130320%20-%20Po%27ipu%20Beach%20Waves.ogg">Po'ipu
                            Beach Waves (OGG)</a></li>
                    <li><a
                        href="http://freshly-ground.com/data/audio/sm2/bottle-pop.wav">A
                            corked beer bottle (WAV)</a></li>
                    <li><a href="../../demo/_mp3/rain.mp3">Rain</a></li>

                </ul>

            </div>

            <div class="sm2-extra-controls">

                <div class="bd">

                    <div class="sm2-inline-element sm2-button-element">
                        <a href="#prev" title="Previous"
                            class="sm2-inline-button previous">&lt;
                            previous</a>
                    </div>

                    <div class="sm2-inline-element sm2-button-element">
                        <a href="#next" title="Next"
                            class="sm2-inline-button next">&gt; next</a>
                    </div>

                    <!-- not implemented -->
                    <!--
    <div class="sm2-inline-element sm2-button-element disabled">
     <div class="sm2-button-bd">
      <a href="#repeat" title="Repeat playlist" class="sm2-inline-button repeat">&infin; repeat</a>
     </div>
    </div>
    -->

                    <!-- not implemented -->
                    <!--
    <div class="sm2-inline-element sm2-button-element disabled">
     <a href="#shuffle" title="Shuffle" class="sm2-inline-button shuffle">shuffle</a>
    </div>
    -->

                </div>

            </div>

        </div>

    </div>

    <div
        style="height: calc(100vh - 43px - 45px - 60px); width: calc(100vw - {{ vm.canvasWidth}}px); overflow-y: auto;"
        ng-swipe-left="vm.previousPage()" ng-swipe-right="vm.nextPage()"
        layout-align="center center">
        <div id="canvasWrapper">
            <canvas id="the-canvas"></canvas>
        </div>
    </div>

    <div class="sm2-bar-ui textured full-width" align="center" style="vertical-align:middle">
        <div class="sm2-inline-texture"></div>
        <div class="sm2-inline-gradient"></div>
        <a class="fa-stack fa-lg pdfButton" ng-click="vm.zoomOut()">
            <i class="fa fa-circle fa-stack-2x"></i> <i
            class="fa fa-search-minus fa-stack-1x inverse"></i>
        </a> <a class="fa-stack fa-lg pdfButton"
            ng-click="vm.previousPage()"> <i
            class="fa fa-circle fa-stack-2x"></i> <i
            class="fa fa-angle-left fa-stack-1x inverse"></i>
        </a> {{vm.page }} / {{ vm.pdf.numPages }} <a
            class="fa-stack fa-lg pdfButton" ng-click="vm.nextPage()">
            <i class="fa fa-circle fa-stack-2x"></i> <i
            class="fa fa-angle-right fa-stack-1x inverse"></i>
        </a> <a class="fa-stack fa-lg pdfButton" ng-click="vm.zoomIn()">
            <i class="fa fa-circle fa-stack-2x"></i> <i
            class="fa fa-search-plus fa-stack-1x inverse"></i>
        </a>
    </div>
</div>
<div id="loadPDF" layout="column" layout-align="center center"
    style="height: calc(100vh - 66px)"
    ng-style="{'visibility': vm.ready?'hidden':'visible'}"
    ng-hide="vm.ready">

    <h4>Chargement en cours</h4>
    <md-progress-linear md-mode="determinate"
        value="{{vm.determinateValue}}" style="width: 90%"></md-progress-linear>
</div>
