<h1 style="text-align:center">Le projet</h1>
<p>
    Si vous ne l'avez pas dÈj‡† fait, je vous invite ‡† aller lire <a href="/nekogaminotabi/synopsis.html">le synopsis</a>.
</p>

<p>
    Nekogami no tabi est un projet d'Ècriture, sans aucune prÈtention, ce n'est pas une histoire extraordianaire et je ne compte pas me prendre pour un vrai Ècrivain.<br/>
    Je fais Áa avant tout pour le plaisir et pour partager quelque chose.
</p>

<p>Je vous vois d&eacute;j&agrave; venir &laquo; Mais t'es con, t'as dit que c'&eacute;tait une histoire &eacute;crite. Ce sera du texte. &raquo;<br />
Sauf que j'avais pr&eacute;vu de faire texte + dessins + musiques. Mais &#8230; j'ai ni le temps ni le talent n&eacute;cessaire pour faire &ccedil;a &#8230;<br />
Du coup, faudra se satisfaire du texte brut, m&ecirc;me si plusieurs sc&egrave;nes dans ma t&ecirc;te n&eacute;cessitent des dessins pour &ecirc;tre plus fortes et vivantes.<br />
On verra si j'arrive &agrave; gagner +5 en dessin pour pouvoir vous pr&eacute;senter quelques dessins et si j'arrive &agrave; trouver un logiciel qui me satisfera pleinement pour cr&eacute;er des musiques et si je m'investirais assez pour me faire 45 tutos &#8230; (nan, parce-que les m&eacute;lodies sont dans ma t&ecirc;te pr&ecirc;tes &agrave; sortir -___- C'est quand qu'ils inventent un c&acirc;ble de connexion cerveau-ordi ?)</p>

<p>Pour l'instant, il s'agit du texte agr√©ment√© de musiques qui ne sont pas de moi.<br/>
Pour plus d'informations sur le format, reportez-vous aux articles concernant <a href="/nekogaminotabi/liseuse.html">la liseuse</a> et la <a href="/nekogaminotabi/lectureenligne.html">lecture en ligne</a>.</p>

<p>Pour rapprocher le style de l'histoire &agrave; un style de manga, ce serait un slice of life fantastique.</p>

<p>Je fournis &ccedil;a sous forme de chapitres, comme dans un vrai livre quoi, hein.<br />
Pour la fr&eacute;quence, je sais pas, tout va d&eacute;pendre de mon envie d'&eacute;criture, de mon temps et de ma capacit&eacute; imaginative.
Pour l'instant... heu... √ßa va pas tr√®s vite, il faut l'avouer...</p>

<p>Pour le style d'&eacute;criture en g&eacute;n&eacute;ral, ce sera comme mon style habituel. Vous serez pas d&eacute;pays&eacute;s si vous avez l'habitude de lire mes pav&eacute;s. Mon style bien perso. Ce ne sera donc pas un style acad&eacute;mique xD
Pour ceux qui n'ont pas l'habitude de mon style, bon courage.</p>

<p><h2>Pour la petite histoire &#8230;</h2></p>

<p>Cette histoire est une histoire originale, ce n'est pas une fan fiction.</p>

<p>Je suis s&ucirc;r que &ccedil;a ressemble fortement &agrave; d'autres histoires/mangas d&eacute;j&agrave; parus et que certains ne manqueront pas de me le faire remarquer. Sachez d&eacute;j&agrave; que j'en ai strictement rien &agrave; faire. Vous aurez qu'&agrave; brasser du vent.</p>

<p>Parce que cette histoire se base sur un support qui n'est accessible qu'&agrave; moi-m&ecirc;me : mes r&ecirc;ves.<br />
Cette histoire se base sur une s&eacute;rie de quatre r&ecirc;ves que j'ai eus. Ce n'&eacute;tait pas quatre r&ecirc;ves sur des nuits continues mais sur 1 semaines &frac12; &agrave; peu pr&egrave;s.</p>

<p>Du coup, j'ai arrang&eacute; un peu l'histoire, pour que ce soit plus coh&eacute;rent, plus d&eacute;taill&eacute; et plus &#8230; int&eacute;ressant &agrave; suivre. J'ai donc ajout&eacute; quelques trucs, enlev&eacute; certains mais le squelette de l'histoire est &agrave; 95% identique &agrave; celui de mes r&ecirc;ves.</p>

<p>Je joue le r&ocirc;le de Mamoru dans ces r&ecirc;ves.</p>

<p><h2>Le mot de la fin</h2></p>

<p>J'esp&egrave;re que cette histoire vous plaira.<br />
Pour ceux qu'ont pas envie de la lire, bah lisez pas au lieu de le dire.<br />
Par contre, toutes les critiques sont les bienvenues et surtout les mauvaises. Je cherche aussi &agrave; am&eacute;liorer mon &eacute;criture et mon style d'&eacute;criture donc n'h&eacute;sitez pas &agrave; bien balancer. M&ecirc;me les pires trucs. Mais il faudra un minimum argumenter. &laquo; C'est nul &raquo; ou &laquo; c'est mal &eacute;crit &raquo;, heu &#8230; vous pouvez vous les garder.</p>

<p>D&eacute;j&agrave;, pour commencer, j'aimerais bien savoir si &ccedil;a vous int&eacute;resse ou pas de suivre cette histoire ou de mani&egrave;re g&eacute;n&eacute;rale une histoire &eacute;crite par moi.</p>

<p>Et je vais le faire l&agrave; dans ce message et pour tous les autres qui viendront pour mon histoire. Veuillez m'excuser d&egrave;s &agrave; pr&eacute;sent pour toutes les fautes d'orthografe, de conjugaison et de grammaire qu'il pourrait y avoir dans ce message et l'histoire.<br />
Par contre, pour les tournures et les expressions que j'utilise, faudra faire avec, y aura jamais d'excuses.</p>

<p>A bient&ocirc;t pour de nouvelles aventures litt&eacute;raires.</p>