@import
    url(//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css)
    ;

@import url(//fonts.googleapis.com/css?family=Open+Sans);

@import url(//fonts.googleapis.com/css?family=Slabo+27px);

@import url(//fonts.googleapis.com/css?family=Indie+Flower);

@import url(//fonts.googleapis.com/css?family=Raleway:400,700);

@import url(//fonts.googleapis.com/css?family=Lato);

@import url(//fonts.googleapis.com/css?family=Fredericka+the+Great);

body {
    -webkit-animation-delay: 0.1s;
    -webkit-animation-name: fontfix;
    -webkit-animation-duration: 0.1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
}

@
-webkit-keyframes fontfix {from { opacity:1;
    
}

to {
    opacity: 1;
}

}
html, p, .post-content .post-message p {
    font-family: 'Roboto Condensed', sans-serif;
    color: rgb(238, 238, 238);
}

h2 {
    font-family: 'PT Sans Narrow', sans-serif;
}

h1 {
    font-family: 'Dosis', sans-serif;
}

[layout=row] {
    flex-direction: row;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

md-toolbar.md-default-theme {
    background-color: rgb(244,67,54);
}

.ikare-toolbar {
    box-shadow: 0px 2px 5px 1px rgba(0,0,0,.5);
}

section.jumbotron {
    margin-bottom: 30px;
    padding: 1px 30px;
    background-color: #5aadbb;
    text-align: center;
    color: white;
}

section.jumbotron h1 {
    font-size: 3em;
}

.techs {
    display: flex;
    flex-flow: row wrap;
}

.techs md-card {
    width: 30%;
}

.techs md-card img.pull-right {
    float: right;
    width: 100px;
}

.md-raised:hover {
    background-color: transparent;
}

.formly-field {
    width: 100%
}

/* Liseuse */
.seekBase {
    height: 10px;
    width: 100px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

.seekLoad {
    height: 10px;
    width: 0;
    background-color: #E0EAF1;
    border-radius: 5px;
}

.pdfButton {
    color: dodgerblue !important;
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,.75) !important;
    font-size: 18pt !important;
    height:40px !important;
    width:40px !important;
}

.pdfButton > i{
    margin-top: -30px;
}

.shadow-circle{
}

.pdfButton:hover {
    color: white;
    cursor: pointer;
}

.inverse {
    color: white;
}

.inverse:hover {
    color: black;
}

#the-canvas {
    background-color: gray;
    display: block;
    width: inherit;
}

/* Blog */
.blog-card {
    font-family: 'Slabo 27px', serif;
}

.blog-card:hover {
    cursor: pointer;
    opacity: 0.6;
    filter: alpha(opacity = 60);
}

.blog-card img {
    top: -250px;
}

.blog-card-image {
    position: relative;
    max-height: 100px;
    max-width: 100%;
    overflow: hidden;
}

/* Post */
.blog-content {
    color: white;
    padding: 10px 10px 10px 10px;
}

.blog-title-image {
    border: 2px solid grey;
    max-width: calc(100% - 30px);
}

.blog-title {
    font-size: 2em;
}

/* .blog-content p{ */
/*     font-family: 'Raleway', sans-serif; */
/* } */

/* .blog-content h2{ */
/*     font-family: 'Lato', sans-serif; */
/* } */

/* Disqus */
[title="Afficher plus"] {
    color: #ffffff !important;
}

}
.publisher-anchor-color a {
    color: white !important;
}

.post-message p {
    font-family: 'Raleway', sans-serif !important;
}

/* Menu */
.side-menu, .side-menu ul {
    list-style: none;
    padding: 0;
    margin-top: 0;
}

.side-menu .md-button.active {
    color: deeppink;
}

.side-menu .menu-toggle-list a.md-button {
    display: block;
    padding: 0 16px 0 32px;
    text-transform: none;
    text-rendering: optimizeLegibility;
    font-weight: 500;
}

.side-menu .menu-toggle-list .md-button {
    display: block;
    padding: 0 16px 0 32px;
    text-transform: none;
}

.side-menu>li {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.md-button-toggle .md-toggle-icon.toggled {
    transform: rotateZ(180deg);
    -webkit-transform: rotateZ(180deg);
}

.side-menu .md-button-toggle .md-toggle-icon {
    background-size: 100% auto;
    display: inline-block;
    margin: auto 0 auto auto;
    width: 15px;
    color: darkgray;
    transition: transform .3s ease-in-out;
    -webkit-transition: -webkit-transform .3s ease-in-out;
}

.menu-toggle-list.ng-hide {
    max-height: 0;
}

.side-menu .md-button {
    border-radius: 0;
    color: inherit;
    cursor: pointer;
    font-weight: 400;
    line-height: 40px;
    margin: 0;
    max-height: 40px;
    overflow: hidden;
    padding: 0px 16px;
    text-align: left;
    text-decoration: none;
    white-space: normal;
    width: 100%;
}

.menu-toggle-list {
    max-height: 1300px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    -webkit-transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
    -webkit-transition-property: max-height;
    -moz-transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
    -moz-transition-property: max-height;
    transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
    transition-property: max-height;
}

.side-menu menu-toggle span {
    padding-top: 12px;
    padding-bottom: 12px;
}

.menu-button {
    width: calc(100% - 24px);
    text-align: left;
    font-weight: bold;
}

md-sidenav {
    max-width: 260px !important;
}

.menu-title {
    font-weight: bold;
    color: lightgrey;
    line-height: 0px;
}

.categorie {
    border-bottom: 1px solid #d3d3d3;
}

.wing-left {
    background: url("../assets/images/wing-left.svg") no-repeat;
    background-size: 80px 56px;
    background-position: center center;
    width: 80px;
    height: 56px;
    color: gray;
}

.wing-right {
    width: 80px;
    height: 56px;
    background: url("../assets/images/wing-right.svg") no-repeat;
    background-size: 80px 56px;
    background-position: center center;
    color: gray;
}

h1.ikare {
    font-family: 'Fredericka the Great', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 2.5em;
}

a:not(.notLink)  {
    color: dodgerblue;
}

a.notLink{
    color: rgb(238, 238, 238);
    text-decoration: none;
}

haute {
    background-color: red;
}

moyenne {
    background-color: yellow;
}

basse {
    background-color: green;
}

af-menu {
    background-color: rgb(244,67,54);
}

img.grayscale {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+, IE10 */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
    -webkit-transition: all .6s ease; /* Fade to color for Chrome and Safari */
    -webkit-backface-visibility: hidden; /* Fix for transition flickering */
}

img.grayscale:hover {
    filter: none;
    -webkit-filter: grayscale(0%);
}

img.social{
    height: 40px;
    margin-right: 10px;
}

a.social{
   height: 40px; 
}

.progressMusic {
     height: 25px;
}

.progressiveMusic .md-container, .progressiveMusic .md-bar{
    heignt:10px;
} 

.musicTitle {
  color: rgb(24,107,160);
}

/* Système de commentaires */
.comment {
  padding: .25em;
  margin: .25em;
}

.comment > .comments {
  margin-top: 1em;
  margin-left: 2em;  
}

.comment-header {
  vertical-align: middle;
  line-height: 2em;
  color: black;
}

.comment-body {
  color: black;
}

.comment-header > h4 {
  display: inline;
  color: blue;
}

.comment > .page-header {
  margin-top: 0;
  padding-top: 0;
}

.jumbotron {
  font-family: Arial, Helvetica, sans-serif;
    position: relative;
    padding: 40px 0;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
    background: #020031;
    background: -moz-linear-gradient(45deg, #020031 0%, #6d3353 100%);
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#020031), color-stop(100%,#6d3353));
    background: -webkit-linear-gradient(45deg, #020031 0%,#6d3353 100%);
    background: -o-linear-gradient(45deg, #020031 0%,#6d3353 100%);
    background: -ms-linear-gradient(45deg, #020031 0%,#6d3353 100%);
    background: linear-gradient(45deg, #020031 0%,#6d3353 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#020031', endColorstr='#6d3353',GradientType=1 );
    -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
    -moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
    box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -o-border-radius: 0;
}
.jumbotron .btn, .pagination-centered .btn {
    /*float: none;*/
    font-weight: normal;
}
.jumbotron p {
    margin: 1em 0;
}
.bs-docs-social {
    margin-top: 1em;
    padding: 15px 0;
    text-align: center;
    background-color: rgba(245,245,245,0.3);
    border-top: 1px solid rgba(255,255,255,0.3);
    border-bottom: 1px solid rgba(221,221,221,0.3);
}

.comment {
  /*border-top: 1px 1px 1px 1px solid #eee;*/
  background-color: white;
  color: black;
}

/*.comment:first-child {
  border: none;
}*/


.clear-square {
  vertical-align: sub;
  border: none;
  background: none;
  outline: none;
  min-width: 36px;
  min-height: 34px;
}

.subreddit {
  display: table;
  width: 100%;
  border-top: 1px solid #eee;
  margin-top: .5em;
  padding-top: .5em;
  min-width: 720px;
  overflow: scroll;
}

.subreddit > * {
  height: 92px;
}

.subreddits: {
  display: table;
}
.subreddits:hover {
  text-decoration: none;
}
.subreddits:focus {
  text-decoration: none;
}
.subreddits > * {
  height: 50px;
  display: table-cell;
  vertical-align: middle;
  text-align: left;
  word-wrap:break-word;
  width: 100px;
  margin: 0;
  padding: 0;
  margin-right: 1em;
}

.subreddits > .title {
  width: 160px!important;
}

.subreddits > h4 {
  width: auto;
  margin-right: 0;
}

.subreddit:first-child {
  border: none;
  margin-top: 0;
  padding-top: 0;
}

.subreddit > .score, .subreddit > .author {
  display: table-cell;
  vertical-align: middle;
  text-align: left;
}

.subreddit > .author {
  margin: 0;
  padding: 0;
}

.subreddit .score {
  width: 64px;
}
.subreddit .author {
  width: 160px;
}

.subreddit .thumbnail {
  width: 92px;
  margin: 0;
  padding: 0;
  border: 0;
}

.subreddit .title {
  display: table-cell;
  vertical-align: middle;
  text-align: left;
  word-wrap:break-word;
}

.subreddit .title h3, .subreddit .title p {
  margin-left: .5em;
}

.subreddit .img {
  width: 92px;
}

.commentText{
}

.commentLabel{
    height:36px;
}

.circular-progress-button {
    height: 36px;
}

.circular-progress-spinner {
    color:white;
    padding-left: 12px;
    margin-top: -32px;
}

.circular-progress-spinner path { 
    stroke: white; 
}

.commentSubHead{
    font-size: 9pt;
    color: gray;
}

md-progress-circular.md-DarkGreyTheme-theme .md-inner .md-left .md-half-circle, md-progress-circular.md-DarkGreyTheme-theme .md-inner .md-right .md-half-circle{
    border-top-color: white;
}

md-progress-circular.md-DarkGreyTheme-theme .md-inner .md-left .md-half-circle {
    border-left-color: white;
}

md-progress-circular.md-DarkGreyTheme-theme .md-inner .md-right .md-half-circle{
    border-right-color: white;
}