<div class="md-toolbar-tools" layout="row" layout-align="start center">
    <md-button hide-gt-sm ng-click="vm.toggleAside()" class="fa fa-bars">
    </md-button>
    <span flex></span>
    <a href="https://www.facebook.com/ikareBlog" class="social" target="_blank"><img ng-src="/assets/images/facebook.png" class="grayscale social"/></a>
    <a href="https://twitter.com/Ikare33" class="social" target="_blank"><img ng-src="/assets/images/twitter.png" class="grayscale social"/></a>
    <a href="https://www.facebook.com/NekogamiNoTabi/" class="social" target="_blank"><img ng-src="/assets/images/facebook_neko.png" class="grayscale social"/></a>
    <a href="https://twitter.com/Nekogaminotabi" class="social" target="_blank"><img ng-src="/assets/images/twitter_neko.png" class="grayscale social"/></a>
</div>
