<div layout="column" flex layout-fill
    style="height: calc(100vh - 58px); display: block;">
    <article layout="column" layout-align="center center">
        <br /> <img class="blog-title-image"
            src="/assets/images/nekogaminotabi.png" />

        <h1 class="blog-title">Lecture en ligne</h1>
        <i>Ou "Comment qu'elle marche la liseuse ?"</i>

    </article>

    <div flex layout-fill class="blog-content" layout-align="center center">
        <p>L&rsquo;utilisation de la liseuse en ligne est extr&ecirc;mement simple et &agrave; la port&eacute;e de tous. Le principe est de pouvoir lire une histoire ou un chapitre page par page, avec un fond musical ou non.</p>
        
        <p>Celle-ci est compos&eacute;e de trois &eacute;l&eacute;ments&nbsp;:</p>
        
        <img class="blog-title-image" src="/assets/images/liseuse.png" ></img>
        
        <ol>
            <li>Un lecteur audio rudimentaire&nbsp;:
                <ul>
                    <li>Un bouton pour lire ou mettre en pause la musique</li>
                    <li>L&rsquo;affichage du titre, de l&rsquo;album et de l&rsquo;artiste pour ce morceau</li>
                    <li>Une barre de progression de la musique</li>
                </ul>
            </li>
            <li>L&rsquo;affichage de la page courante</li>
            <li>Une barre de boutons&nbsp;:
                <ul>
                    <li>Zoom arri&egrave;re</li>
                    <li>Page pr&eacute;c&eacute;dente</li>
                    <li>Page courante / nombre totale de page</li>
                    <li>Zoom avant</li>
                </ul>
            </li>
        </ol>
        <p>Pour ne pas prendre l&rsquo;utilisateur au d&eacute;pourvu ou lui lancer du son non voulu sur son navigateur, la musique ne se lance pas automatiquement, alors n&rsquo;oubliez pas de la lancer si vous le voulez.</p>
        <p>Les musiques changent automatiquement entre les pages, il n&rsquo;y a pas de playlist.</p>
        <p>J&rsquo;ai pris un soin particulier pour que la liseuse marche sur tous les navigateurs et appareils (mobile tablette et ordinateur), mais je n&rsquo;ai pas pu tout tester. N&rsquo;h&eacute;sitez via des messages facebook ou twitter &agrave; signaler tout probl&egrave;me ou id&eacute;e d&rsquo;am&eacute;lioration.</p>
    </div>
</div>