<div layout="column" flex layout-fill
    style="height: calc(100vh - 58px); display: block;">
    <article layout="column" layout-align="center center">
        <br /> <img class="blog-title-image"
            src="/assets/images/nekogaminotabi.png" />

        <h1 class="blog-title">Synopsis</h1>

    </article>

    <div flex layout-fill class="blog-content">
       <p>Japon, de nos, ville dans la banlieue de Tokyo.</p>

        <p>Mamoru est certainement un de ces adolescents &agrave;
            qui vous avez envie de mettre une bonne s&eacute;rie de
            claques pour le r&eacute;veiller et le secouer un petit peu.
            La mine sombre, d&eacute;prim&eacute; en permanence et
            persuad&eacute; que le monde lui en veut personnellement, il
            ne trouve sa place ni &agrave; la maison, ni &agrave;
            l'&eacute;cole, ni dans la soci&eacute;t&eacute;.
            Affubl&eacute;s de parents absents, d'une soeur le traitant
            comme un moins que rien et de camarades de classe avides de
            le torturer moralement et de l'humilier, il ne voit pas le
            bout du tunnel d'une vie heureuse.</p>

        <p>Un soir, alors qu'il rentre de l'&eacute;cole, un
            accident va lui faire rencontrer un &ecirc;tre
            &eacute;trange, qui va changer sa vie et celle de ses
            proches &agrave; jamais.</p>
    </div>
</div>