<p style="text-align: center">
<h1>Bienvenue sur le site d'Ikare !</h1>
</p>

<p>
    Qu'est-ce que vous allez trouver ici ?<br /> Une petite histoire,
    des reflexions, des billets d'humeur et surtout de la bonne humeur !
</p>

<p>Ce site est avant tout fait pour promouvoir l'histoire que je
    suis en train d'&eacute;crire : Nekogami no tabi.</p>

<p>
    Je vous invite donc &agrave; prendre connaissance du <a
        href="/nekogaminotabi/synopsis.html">synopsis</a> et des <a
        href="/nekogaminotabi/projet.html">informations sur ce
        projet</a>.<br /> Et si cela vous donne envie, je vous invite
    &agrave; <a href="/nekogaminotabi/liseuse.html">t&eacute;l&eacute;charger
        la liseuse</a> et <a
        href="/nekogaminotabi/chapitres/chapitre1/telechargements.html">le
        premier chapitre !</a>
</p>

<p>
    Il vous est aussi possible de <a
        href="/nekogaminotabi/chapitres/chapitre1/lectureenligne.html">lire
        ce premier chapitre directement en ligne</a>. <a
        href="/nekogaminotabi/lectureenligne.html">Plus
        d'informations sur la lecture en ligne</a>.
</p>

<p>
    Je suis aussi activement &agrave; la recherche de &#946;-lecteurs !
    Lisez les chapitres en avant-premi&egrave;re et donnez votre avis. <a
        href="/nekogaminotabi/betalecteurs.html">Plus d'informations
        ici !</a>
</p>