<p style="text-align: center">
<h1>Bienvenue sur le site d'Ikare !</h1>
</p>

<p>
    Qu'est-ce que vous allez trouver ici ?<br /> Une petite histoire,
    des reflexions, des billets d'humeur et surtout de la bonne humeur (ou presque) !
</p>

<p>Ce site est avant tout fait pour promouvoir l'histoire que je
    suis en train d'&eacute;crire : Nekogami no tabi.</p>

<p>
    Je vous invite donc &agrave; prendre connaissance du <a
        href="/nekogaminotabi/synopsis">synopsis.<br /> Et si cela vous donne envie, je vous invite
    &agrave; <a
        href="/liseuse/1">lire le premier chapitre en ligne !</a>
</p>

<p>
   <a href="/nekogaminotabi/lectureenligne">Plus
        d'informations sur la lecture en ligne</a>.
</p>

<p>
    Je suis aussi activement &agrave; la recherche de &#946;-lecteurs !
    Lisez les chapitres en avant-premi&egrave;re et donnez votre avis. <a
        href="/nekogaminotabi/betalecteurs">Plus d'informations
        ici !</a>
</p>